#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  overflow: hidden;
  background: url("../src/assets/bakgrund.avif") no-repeat center center fixed;
}

.icon {
  width: 80px;
  height: 80px;
}
