#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.App-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  overflow: hidden;
  background: url("../src/assets/bakgrund.avif") no-repeat center center fixed;
}


.dailyForecastBox{
  width: 170px;
  height: auto;
  background:rgba(44, 43, 43, 0.8);
  border-radius: 10px;
  border: 2px solid rgb(85, 84, 84);
}
.resultBox{
  
  width: 200px;
  background:rgba(44, 43, 43, 0.8);
  border-radius: 10px;
  border: 2px solid rgb(85, 84, 84);
  
}

button {
  height:22px;
  width: 100px;
  margin-bottom:px ;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 12pt;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.searchfield{
  display: flex;
  justify-content: center;
  align-items: center;
}

