.searchbtn{
  height: 22px;
  width: 50px;
  margin-bottom: px;
  border: 1px solid transparent;
  font-size: 12pt;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.searchfield {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }