.weatherBox1 {
  text-shadow: rgb(37, 37, 37) 1.5px 1.1px;
  font-size: large;
  font-weight: 500;
}

.icon {
  width: 70px;
  height: 70px;
}


.forecastContainer {
  display: flex;
  justify-content: space-between; 
}

  .forecastContainer {
    display: flex;
    justify-content: space-between; 
  }

  

  .weatherBox {
    display: flex;
    justify-content: space-around; 
  
 