.resultBoxText {
  text-shadow: rgb(37, 37, 37) 1.5px 1.1px;
  font-size: large;
  font-weight: 500;
}

.icon {
  width: 70px;
  height: 70px;
}

.resultBox {
  margin: "5px";
  width: 210px;
  background: rgba(44, 43, 43, 0.8);
  border-radius: 10px;
  border: 2px solid rgb(85, 84, 84);
}
